In [21]:
using Pkg
#Pkg.add("CSV")
#Pkg.add("DataFrames")
#Pkg.add("Tables")
#Pkg.add("Statistics")
#Pkg.add("Query")
#Pkg.add("CUDA")
#Pkg.add("Dates")
#Pkg.add("Printf")
#Pkg.add("BenchmarkTools")
using CSV
using DataFrames
#using Tables
#using Statistics
#using Query
#using CUDA
using Dates
#using Printf
#using Base.Threads
using BenchmarkTools

In [22]:
df = CSV.read("/Users/sebastianmerino/Documents/Learning/Diplomado IA/Movie Lens Project/ratings.csv", DataFrame

25000095×4 DataFrame
      Row │ userId  movieId  rating   timestamp
          │ Int64   Int64    Float64  Int64
──────────┼──────────────────────────────────────
        1 │      1      296      5.0  1147880044
        2 │      1      306      3.5  1147868817
        3 │      1      307      5.0  1147868828
        4 │      1      665      5.0  1147878820
        5 │      1      899      3.5  1147868510
        6 │      1     1088      4.0  1147868495
        7 │      1     1175      3.5  1147868826
        8 │      1     1217      3.5  1147878326
        9 │      1     1237      5.0  1147868839
       10 │      1     1250      4.0  1147868414
       11 │      1     1260      3.5  1147877857
    ⋮     │   ⋮        ⋮        ⋮         ⋮
 25000086 │ 162541     8983      4.5  1240953211
 25000087 │ 162541    31658      4.5  1240953287
 25000088 │ 162541    33794      4.0  1240951792
 25000089 │ 162541    41566      4.0  1240952749
 25000090 │ 162541    45517      4.5  1240953353
 25000091 │ 162541    50872      4.5  1240953372
 25000092 │ 162541    55768      2.5  1240951998
 25000093 │ 162541    56176      2.0  1240950697
 25000094 │ 162541    58559      4.0  1240953434
 25000095 │ 162541    63876      5.0  1240952515
                            25000074 rows omitted

In [23]:
# Contando el numero de registros del archivo
num_rows = nrow(df)

25000095

In [24]:
n = 10
filas_archivo = num_rows/n
Num_archivos = num_rows/filas_archivo

10.0

In [25]:
    for i in 1:10
        inicio = (i-1)*filas_archivo+1
        if i < 10
            final = i*filas_archivo
        else i=10
            final = num_rows
        end
        inicio = ceil(Int, inicio)
        final = ceil(Int, final)
        DF_aux = df[Int(inicio):Int(final), :]
        CSV.write("Archivo_$(i).csv",DF_aux)
        println(i)
        @printf("%d\n",inicio)
        @printf("%d\n",final)
    end

1
1
2500010
2
2500011
5000019
3
5000020
7500029
4
7500030
10000038
5
10000039
12500048
6
12500049
15000057
7
15000058
17500067
8
17500068
20000076
9
20000077
22500086
10
22500087
25000095

In [26]:
df1 = CSV.read("/Users/rodrigozeferino/Documents/Diplomado/Go/Movielens/Archivo_1.csv", DataFrame)
df2 = CSV.read("/Users/rodrigozeferino/Documents/Diplomado/Go/Movielens/Archivo_2.csv", DataFrame)
df3 = CSV.read("/Users/rodrigozeferino/Documents/Diplomado/Go/Movielens/Archivo_3.csv", DataFrame)
df4 = CSV.read("/Users/rodrigozeferino/Documents/Diplomado/Go/Movielens/Archivo_4.csv", DataFrame)
df5 = CSV.read("/Users/rodrigozeferino/Documents/Diplomado/Go/Movielens/Archivo_5.csv", DataFrame)
df6 = CSV.read("/Users/rodrigozeferino/Documents/Diplomado/Go/Movielens/Archivo_6.csv", DataFrame)
df7 = CSV.read("/Users/rodrigozeferino/Documents/Diplomado/Go/Movielens/Archivo_7.csv", DataFrame)
df8 = CSV.read("/Users/rodrigozeferino/Documents/Diplomado/Go/Movielens/Archivo_8.csv", DataFrame)
df9 = CSV.read("/Users/rodrigozeferino/Documents/Diplomado/Go/Movielens/Archivo_9.csv", DataFrame)
df10 = CSV.read("/Users/rodrigozeferino/Documents/Diplomado/Go/Movielens/Archivo_10.csv", DataFrame)

2500009×4 DataFrame
     Row │ userId  movieId  rating   timestamp
         │ Int64   Int64    Float64  Int64
─────────┼──────────────────────────────────────
       1 │ 146281    32587      1.5  1523483760
       2 │ 146281    32707      5.0  1467728447
       3 │ 146281    32792      4.5  1466619952
       4 │ 146281    32875      5.0  1467945779
       5 │ 146281    32892      5.0  1466619653
       6 │ 146281    32906      5.0  1549931019
       7 │ 146281    32943      4.5  1466620500
       8 │ 146281    33004      1.5  1466618878
       9 │ 146281    33072      5.0  1466620071
      10 │ 146281    33085      0.5  1470258044
      11 │ 146281    33154      3.0  1467945172
    ⋮    │   ⋮        ⋮        ⋮         ⋮
 2500000 │ 162541     8983      4.5  1240953211
 2500001 │ 162541    31658      4.5  1240953287
 2500002 │ 162541    33794      4.0  1240951792
 2500003 │ 162541    41566      4.0  1240952749
 2500004 │ 162541    45517      4.5  1240953353
 2500005 │ 162541    50872      4.5  1240953372
 2500006 │ 162541    55768      2.5  1240951998
 2500007 │ 162541    56176      2.0  1240950697
 2500008 │ 162541    58559      4.0  1240953434
 2500009 │ 162541    63876      5.0  1240952515
                            2499988 rows omitted

In [75]:
df_completo = vcat(df1, df2, df3, df4, df5, df6, df7, df8, df9, df10)

25000095×4 DataFrame
      Row │ userId  movieId  rating   timestamp
          │ Int64   Int64    Float64  Int64
──────────┼──────────────────────────────────────
        1 │      1      296      5.0  1147880044
        2 │      1      306      3.5  1147868817
        3 │      1      307      5.0  1147868828
        4 │      1      665      5.0  1147878820
        5 │      1      899      3.5  1147868510
        6 │      1     1088      4.0  1147868495
        7 │      1     1175      3.5  1147868826
        8 │      1     1217      3.5  1147878326
        9 │      1     1237      5.0  1147868839
       10 │      1     1250      4.0  1147868414
       11 │      1     1260      3.5  1147877857
    ⋮     │   ⋮        ⋮        ⋮         ⋮
 25000086 │ 162541     8983      4.5  1240953211
 25000087 │ 162541    31658      4.5  1240953287
 25000088 │ 162541    33794      4.0  1240951792
 25000089 │ 162541    41566      4.0  1240952749
 25000090 │ 162541    45517      4.5  1240953353
 25000091 │ 162541    50872      4.5  1240953372
 25000092 │ 162541    55768      2.5  1240951998
 25000093 │ 162541    56176      2.0  1240950697
 25000094 │ 162541    58559      4.0  1240953434
 25000095 │ 162541    63876      5.0  1240952515
                            25000074 rows omitted

In [84]:
kg = ["Action","Adventure","Animation","Children’s","Comedy","Crime","Documentary","Drama","Fantasy","Film-Noir","Horror","Musical","Mystery","Romance","Sci-Fi","Thriller","War","Western","(no genres listed)"]
ng = length(kg)

19

In [17]:
movies = CSV.read("/Users/sebastianmerino/Documents/Learning/Diplomado IA/Movie Lens Project/movies.csv", DataFrame)

62423×3 DataFrame
   Row │ movieId  title                              genres                    ⋯
       │ Int64    String                             String                    ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │       1  Toy Story (1995)                   Adventure|Animation|Child ⋯
     2 │       2  Jumanji (1995)                     Adventure|Children|Fantas
     3 │       3  Grumpier Old Men (1995)            Comedy|Romance
     4 │       4  Waiting to Exhale (1995)           Comedy|Drama|Romance
     5 │       5  Father of the Bride Part II (199…  Comedy                    ⋯
     6 │       6  Heat (1995)                        Action|Crime|Thriller
     7 │       7  Sabrina (1995)                     Comedy|Romance
     8 │       8  Tom and Huck (1995)                Adventure|Children
     9 │       9  Sudden Death (1995)                Action                    ⋯
    10 │      10  GoldenEye (1995)                   Action|Adventure|Thriller
    11 │      11  American President, The (1995)     Comedy|Drama|Romance
   ⋮   │    ⋮                     ⋮                                  ⋮         ⋱
 62414 │  209145  Liberté (2019)                     Drama
 62415 │  209147  The Carpet of Horror (1962)        Crime|Horror              ⋯
 62416 │  209151  Mao Zedong 1949 (2019)             (no genres listed)
 62417 │  209153  Happy Flight (2008)                Comedy|Drama
 62418 │  209155  Santosh Subramaniam (2008)         Action|Comedy|Romance
 62419 │  209157  We (2018)                          Drama                     ⋯
 62420 │  209159  Window of the Soul (2001)          Documentary
 62421 │  209163  Bad Poems (2018)                   Comedy|Drama
 62422 │  209169  A Girl Thing (2001)                (no genres listed)
 62423 │  209171  Women of Devil's Island (1962)     Action|Adventure|Drama    ⋯
                                                 1 column and 62402 rows omitted

In [ ]:
a = zeros(10)
b = zeros(10)

function llenaArreglo(nt, it)
    println("Leyendo: nt" , nt , "  iterador:", it)
    b[it] = nt * 10000;   
     
end

@threads for i in 1:10
    ##a[i] = Threads.threadid()
    #println("Leyendo: " ,  Threads.threadid())
    
    llenaArreglo(Threads.threadid(), i)

end

In [29]:
test = innerjoin(df1, movies, on=:movieId, makeunique=true)

2500010×6 DataFrame
     Row │ userId  movieId  rating   timestamp   title                         ⋯
         │ Int64   Int64    Float64  Int64       String                        ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │      1      296      5.0  1147880044  Pulp Fiction (1994)           ⋯
       2 │      1      306      3.5  1147868817  Three Colors: Red (Trois coul
       3 │      1      307      5.0  1147868828  Three Colors: Blue (Trois cou
       4 │      1      665      5.0  1147878820  Underground (1995)
       5 │      1      899      3.5  1147868510  Singin' in the Rain (1952)    ⋯
       6 │      1     1088      4.0  1147868495  Dirty Dancing (1987)
       7 │      1     1175      3.5  1147868826  Delicatessen (1991)
       8 │      1     1217      3.5  1147878326  Ran (1985)
       9 │      1     1237      5.0  1147868839  Seventh Seal, The (Sjunde ins ⋯
      10 │      1     1250      4.0  1147868414  Bridge on the River Kwai, The
      11 │      1     1260      3.5  1147877857  M (1931)
    ⋮    │   ⋮        ⋮        ⋮         ⋮                       ⋮             ⋱
 2500001 │  16658     8865      3.0  1161363921  Sky Captain and the World of
 2500002 │  16658     8874      5.0  1161295743  Shaun of the Dead (2004)      ⋯
 2500003 │  16658     8879      4.5  1161366856  Murder on the Orient Express
 2500004 │  16658     8880      3.0  1161385074  Mask (1985)
 2500005 │  16658     8894      2.5  1161368022  Orca: The Killer Whale (1977)
 2500006 │  16658     8899      5.0  1161367556  Hardcore (1979)               ⋯
 2500007 │  16658     8910      5.0  1161363672  I Heart Huckabees (2004)
 2500008 │  16658     8917      5.0  1161360909  Team America: World Police (2
 2500009 │  16658     8949      5.0  1161293859  Sideways (2004)
 2500010 │  16658     8950      5.0  1161304185  The Machinist (2004)          ⋯
                                              2 columns and 2499989 rows omitted

In [81]:
function FindratingsWorker(w::Integer, ng::Integer, kg::Array, dfm::DataFrame, dfr::DataFrame)
    println("In Worker ", w, "\n")

    ra = zeros(ng) # ra is an 1D array for keeping the values of the Ratings for each genre
    ca = zeros(ng) # ca is an 1D array to keep the number of Ratings for each genre

    println("local ndfr after resize =", size(dfr, 1))

    # The inner join will have the following columns: {movieId, genre, rating}
    ij = innerjoin(dfm, dfr, on = :movieId)
    nij = size(ij, 1)

    # ng = 20
    #println("nij = ", nij)
    # ng = size(kg, 1)
    for i = 1:nij
        @printf("%d\n",i)
        for j = 1:ng
            r = ij[i,:] # get all columns for row j, gender is col=2 of the row
            g = r[3]
            @printf("%d\n",j)
            println(kg[j])
            if ( contains(g, kg[j]) == true)
                ca[i] += 1    # keep the count of ratings for thin genre
                ra[i] += r[5] # add the value for this genre
            end
        end
    end

    return ra, ca
end

FindratingsWorker (generic function with 1 method)

In [82]:
FindratingsWorker(3, ng, kg,movies, df1)

In Worker 3

local ndfr after resize =2500010
1
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
2
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
3
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
4
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
5
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
6
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
7
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
8
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
9
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
10
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
11
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
12
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
13
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
14
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
15
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
16
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
17
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
18
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
19
1
Action
2
Adventure
3
Animation
4
Children’s
5
Comedy
6
Crime
7
Documentary
8
Drama
9
Fantasy
10
Film-Noir
11
Horror
12
Musical
13
Mystery
14
Romance
15
Sci-Fi
16
Thriller
17
War
18
Western
19
(no genres listed)
20
1
Action

LoadError: BoundsError: attempt to access 19-element Vector{Float64} at index [20]

In [74]:
ij = innerjoin(movies, df1, on = :movieId)
nij = size(ij, 1)
j=20
r = ij[j,:]
#r[2]

DataFrameRow
 Row │ movieId  title                             genres        userId  rating ⋯
     │ Int64    String                            String        Int64   Float6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
  20 │    2692  Run Lola Run (Lola rennt) (1998)  Action|Crime       1      5. ⋯
                                                               2 columns omitted

In [86]:
kg[1]

"Action"