In [16]:
using CSV
using DataFrames
using Base.Threads
using Statistics

In [17]:
# Paso 1: Leer el archivo CSV
df_movies = CSV.read("C:/Users/felip/Desktop/Julia/movies.csv", DataFrame)
df_ratings = CSV.read("C:/Users/felip/Desktop/Julia/ratings.csv", DataFrame)
"Done"

"Done"

In [18]:
# Paso 2: Dividir el DataFrame en 8 partes
num_partes = 8
partes = [df_ratings[(i-1)*div(end, num_partes)+1:min(i*div(end, num_partes), end), :] for i in 1:num_partes]
"Done"

"Done"

In [19]:
#Definimos una función que haga un registro por cada género en una película
function movies_exploded_function(df_movies)
    df_movies.genre_list = map(x -> split(x, "|"), df_movies.genres)
    convert(Vector{Vector{String}}, df_movies.genre_list)
    lista_genero = []
    lista_movieId = []
    for i  in 1:size(df_movies,1)
        for j in 1:size(df_movies.genre_list[i:i][1],1)
            push!(lista_genero, df_movies.genre_list[i:i][1][j])
            push!(lista_movieId, df_movies.movieId[i:i][1])
        end
    end
    movies_exploded = DataFrame(movieId = lista_movieId, genre = lista_genero)
    return movies_exploded
end

movies_exploded_function (generic function with 1 method)

In [20]:
movies_exploded = movies_exploded_function(df_movies)
"Done"

"Done"

In [21]:
function ratings_per_genre_function(parte)
    movies_ratings = innerjoin(movies_exploded, parte, on=:movieId)
    ratings_per_genre = combine(groupby(movies_ratings, :genre), nrow => :rating_count, :rating => mean)
    #ruta_csv = "C:\\Users\\PC\\Desktop\\DiplomadoIA\\Julia\\parte_{}.csv"
    #CSV.write(ruta_csv, df)
    return ratings_per_genre
end

ratings_per_genre_function (generic function with 1 method)

In [22]:
# Función de procesamiento
function procesar(parte)
    ratings_per_genre_function(parte)
end

procesar (generic function with 1 method)

In [23]:
# Paso 3: Procesar en multihilos
resultados = Vector{Any}(undef, num_partes)
Threads.@threads for i in 1:num_partes
    resultados[i] = procesar(partes[i])
end

# Mostrar resultados
println(resultados)

Any[20×3 DataFrame
 Row │ genre               rating_count  rating_mean
     │ Any                 Int64         Float64
─────┼───────────────────────────────────────────────
   1 │ Adventure                1013433      3.52717
   2 │ Animation                 288363      3.61783
   3 │ Children                  360205      3.43948
   4 │ Comedy                   1480335      3.43585
   5 │ Fantasy                   489383      3.51502
   6 │ Action                   1290266      3.48191
   7 │ Drama                    1844496      3.68893
   8 │ War                       213418      3.79486
   9 │ Sci-Fi                    762116      3.49705
  10 │ Romance                   732387      3.54659
  11 │ Musical                   154602      3.54506
  12 │ Crime                     717000      3.69839
  13 │ Thriller                 1155282      3.5362
  14 │ Horror                    326520      3.31884
  15 │ Mystery                   345848      3.6749
  16 │ IMAX                      196908      3.60836
  17 │ Western                    79942      3.60037
  18 │ Documentary                53674      3.71646
  19 │ Film-Noir                  40003      3.91361
  20 │ (no genres listed)          6106      3.41492, 20×3 DataFrame
 Row │ genre               rating_count  rating_mean
     │ Any                 Int64         Float64
─────┼───────────────────────────────────────────────
   1 │ Action                   1278723      3.4761
   2 │ Thriller                 1149055      3.53104
   3 │ Drama                    1851683      3.68337
   4 │ Musical                   153041      3.54125
   5 │ Adventure                1004360      3.52235
   6 │ Sci-Fi                    754100      3.48535
   7 │ Comedy                   1477833      3.42547
   8 │ Fantasy                   486293      3.50981
   9 │ Romance                   736295      3.54461
  10 │ War                       213339      3.79527
  11 │ Animation                 290435      3.61841
  12 │ Children                  360470      3.4369
  13 │ Western                    78994      3.59389
  14 │ Crime                     712712      3.69587
  15 │ Horror                    326046      3.29454
  16 │ IMAX                      195041      3.601
  17 │ Mystery                   344105      3.66998
  18 │ Documentary                54900      3.69892
  19 │ Film-Noir                  39905      3.92372
  20 │ (no genres listed)          6967      3.43247, 20×3 DataFrame
 Row │ genre               rating_count  rating_mean
     │ Any                 Int64         Float64
─────┼───────────────────────────────────────────────
   1 │ Action                   1286329      3.48749
   2 │ Adventure                1011843      3.52989
   3 │ Sci-Fi                    755827      3.50478
   4 │ Horror                    323479      3.32694
   5 │ Comedy                   1487078      3.43982
   6 │ Drama                    1845396      3.69508
   7 │ Romance                   733990      3.55195
   8 │ War                       212259      3.80443
   9 │ Animation                 291307      3.62145
  10 │ Children                  363947      3.43918
  11 │ Fantasy                   489652      3.51823
  12 │ Crime                     714351      3.70606
  13 │ Thriller                 1148927      3.54415
  14 │ Mystery                   342651      3.6859
  15 │ IMAX                      196144      3.60725
  16 │ Musical                   155193      3.54597
  17 │ Western                    78550      3.61391
  18 │ Film-Noir                  39574      3.92606
  19 │ Documentary                53862      3.71061
  20 │ (no genres listed)          6532      3.42544, 20×3 DataFrame
 Row │ genre               rating_count  rating_mean
     │ Any                 Int64         Float64
─────┼───────────────────────────────────────────────
   1 │ Comedy                   1487835      3.43782
   2 │ Drama                    1849296      3.68406
   3 │ Romance                   736742      3.5488
   4 │ Sci-Fi                    758998      3.49689
   5 │ Action                   1273996      3.48415
   6 │ Animation                 294928      3.62061
   7 │ Children                  364824      3.44417
   8 │ IMAX                      196187      3.60941
   9 │ Thriller                 1139361      3.53257
  10 │ Adventure                1009422      3.5313
  11 │ Fantasy                   489383      3.52169
  12 │ Western                    78524      3.60739
  13 │ Mystery                   343698      3.66944
  14 │ Documentary                55961      3.69379
  15 │ War                       211534      3.80233
  16 │ Crime                     708111      3.69872
  17 │ Film-Noir                  40082      3.91315
  18 │ Horror                    322265      3.30488
  19 │ Musical                   156730      3.55665
  20 │ (no genres listed)          6845      3.40972, 20×3 DataFrame
 Row │ genre               rating_count  rating_mean
     │ Any                 Int64         Float64
─────┼───────────────────────────────────────────────
   1 │ Action                   1265145      3.47605
   2 │ Drama                    1849250      3.68145
   3 │ Horror                    332150      3.28958
   4 │ Thriller                 1140372      3.52723
   5 │ Comedy                   1477283      3.42857
   6 │ Romance                   730055      3.54606
   7 │ Adventure                 997172      3.5243
   8 │ Fantasy                   485823      3.51134
   9 │ Animation                 288870      3.60987
  10 │ Mystery                   343188      3.66907
  11 │ Crime                     704192      3.69066
  12 │ Children                  358998      3.4338
  13 │ Sci-Fi                    749371      3.49171
  14 │ Documentary                57595      3.6669
  15 │ IMAX                      193982      3.61431
  16 │ Musical                   153599      3.55013
  17 │ War                       211312      3.79858
  18 │ Western                    78337      3.58377
  19 │ Film-Noir                  40008      3.91433
  20 │ (no genres listed)          9209      3.28136, 20×3 DataFrame
 Row │ genre               rating_count  rating_mean
     │ Any                 Int64         Float64
─────┼───────────────────────────────────────────────
   1 │ Drama                    1849881      3.67985
   2 │ Romance                   731479      3.5453
   3 │ Action                   1271025      3.4754
   4 │ Crime                     709255      3.69091
   5 │ Thriller                 1144524      3.5271
   6 │ Comedy                   1476826      3.42375
   7 │ Fantasy                   485509      3.51205
   8 │ Adventure                1001329      3.52318
   9 │ Horror                    330910      3.28517
  10 │ Mystery                   342616      3.66845
  11 │ Sci-Fi                    747522      3.49076
  12 │ War                       212195      3.79136
  13 │ Film-Noir                  40224      3.91265
  14 │ Children                  363518      3.4304
  15 │ IMAX                      192455      3.60879
  16 │ Western                    79368      3.5755
  17 │ Animation                 291892      3.61127
  18 │ Documentary                57340      3.68115
  19 │ Musical                   155820      3.54301
  20 │ (no genres listed)          6913      3.3688, 20×3 DataFrame
 Row │ genre               rating_count  rating_mean
     │ Any                 Int64         Float64
─────┼───────────────────────────────────────────────
   1 │ Adventure                1001303      3.51851
   2 │ Animation                 290863      3.60365
   3 │ Children                  362234      3.43092
   4 │ Comedy                   1486887      3.42816
   5 │ Sci-Fi                    748337      3.48851
   6 │ Action                   1272658      3.47442
   7 │ Drama                    1853990      3.68347
   8 │ Romance                   738804      3.54583
   9 │ War                       212673      3.79355
  10 │ Crime                     713544      3.69484
  11 │ Thriller                 1145333      3.5338
  12 │ Film-Noir                  39832      3.90745
  13 │ Mystery                   342868      3.67404
  14 │ Western                    79389      3.5964
  15 │ Musical                   154951      3.54601
  16 │ Horror                    321704      3.31258
  17 │ Fantasy                   483410      3.5089
  18 │ IMAX                      193120      3.60055
  19 │ Documentary                55254      3.68191
  20 │ (no genres listed)          6622      3.28685, 20×3 DataFrame
 Row │ genre               rating_count  rating_mean
     │ Any                 Int64         Float64
─────┼───────────────────────────────────────────────
   1 │ Children                  363764      3.44688
   2 │ Comedy                   1486064      3.4383
   3 │ Fantasy                   490477      3.51761
   4 │ Musical                   155287      3.55649
   5 │ Romance                   734779      3.54953
   6 │ Drama                    1843047      3.69057
   7 │ Sci-Fi                    755959      3.49975
   8 │ Action                   1284001      3.48416
   9 │ Thriller                 1145772      3.54042
  10 │ Adventure                1010067      3.53122
  11 │ Crime                     709416      3.70206
  12 │ War                       210919      3.80035
  13 │ Animation                 292908      3.62128
  14 │ Horror                    327114      3.3243
  15 │ Mystery                   343398      3.6805
  16 │ Western                    78948      3.59409
  17 │ IMAX                      196269      3.60524
  18 │ Documentary                52514      3.69381
  19 │ Film-Noir                  39289      3.91686
  20 │ (no genres listed)          6865      3.40648]

In [26]:
combined_df = resultados[1]
for i in 2:num_partes
    combined_df = vcat(combined_df, resultados[i])
end

In [25]:
combined_df = combine(groupby(combined_df, :genre), :rating_count => sum, :rating_mean => mean)

20×3 DataFrame
 Row │ genre               rating_count_sum  rating_mean_mean
     │ Any                 Int64             Float64
─────┼────────────────────────────────────────────────────────
   1 │ Adventure                    8048929           3.52599
   2 │ Animation                    2329566           3.61555
   3 │ Children                     2897960           3.43772
   4 │ Comedy                      11860141           3.43222
   5 │ Fantasy                      3899930           3.51433
   6 │ Action                      10222143           3.47996
   7 │ Drama                       14787039           3.68585
   8 │ War                          1697649           3.79759
   9 │ Sci-Fi                       6032230           3.49435
  10 │ Romance                      5874531           3.54733
  11 │ Musical                      1239223           3.54807
  12 │ Crime                        5688581           3.69719
  13 │ Thriller                     9168626           3.53406
  14 │ Horror                       2610188           3.3071
  15 │ Mystery                      2748372           3.67403
  16 │ IMAX                         1560106           3.60686
  17 │ Western                       632052           3.59567
  18 │ Documentary                   441100           3.69294
  19 │ Film-Noir                     318917           3.91598
  20 │ (no genres listed)             56059           3.37825